# Gradle
.gradle/
.gradle
build/
out/
classes/
**/build/
!**/src/**/build/

# Gradle config
gradle-app.setting
.gradletasknamecache

# Gradle wrapper
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
*.launch

# VS Code
.vscode/
.settings/
bin/

# macOS
*.DS_Store

# Fabric
run/

# Java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# DevAuth
microsoft_accounts.json